---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Nosotros from '../components/Nosotros.astro'
import Services from '../components/Services.astro';
import Dentist from '../components/Dentist.astro';
import Feature from '../components/Feature.astro';
import Reviews from '../components/Reviews.astro';
import Direction from '../components/Direction.astro';
import Footer from '../components/Footer.astro';
import Buttons from '../components/Buttons.astro';
---

<Layout title="Inicio - Clear Dental">
	<Header />
	<Hero />
	<Nosotros />
	<Services />
	<section class="flex justify-center items-center w-full flex-col my-12">
		<h2 class="font-semibold text-4xl mb-4 md:text-6xl md:mb-8">Casos de Éxito</h2>
		<div class="w-full grid grid-cols-1 gap-5 px-4 max-w-screen-xl md:grid-cols-2 lg:grid-cols-4">
			<article class=" flex justify-center items-center flex-col relative">
				<img src='/caso.webp' alt="Caso de Éxito" class=" object-cover transition-all duration-300" width="478" height="651">
				<button id='caso1' class="-translate-y-20 border-2 italic border-white py-[5px] px-[25px] text-center rounded-full lg:opacity-0" title="Ver más" >Implante</button>
				<div class="absolute top-0 right-0 altura w-full bg-black/70 flex justify-center items-center flex-col modal" id='modal1'>
					<svg id="close1" class="w-6 absolute top-3 right-3 transition-all cursor-pointer hover:transition-all hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" fill="CurrentColor" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/></svg>
					<p class="text-xl font-semibold pb-3">Implante</p>
					<p class="px-4 text-justify">Se realizó un implante dental exitosamente utilizando técnica de injerto óseo previo y posterior colocación del implante de titanio. Sin complicaciones postoperatorias, se espera una óptima integración del implante con el hueso mandibular.</p>
				</div>
			</article>
			<article class=" flex justify-center items-center flex-col relative">
				<img src='/caso-1.webp' alt="Caso de Éxito" class=" object-cover transition-all duration-300" width="478" height="651">
				<button id='caso2' class="-translate-y-20 border-2 italic border-white py-[5px] px-[25px] text-center rounded-full lg:opacity-0" title="Ver más" >Prótesis</button>
				<div class="absolute top-0 right-0 altura w-full bg-black/70 flex justify-center items-center flex-col modal" id='modal2'>
					<svg id="close2" class="w-6 absolute top-3 right-3 transition-all cursor-pointer hover:transition-all hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" fill="CurrentColor" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/></svg>
					<p class="text-xl font-semibold pb-3">Prótesis</p>
					<p class="px-4 text-justify">Se realizó la colocación de una prótesis dental completa, con estructura de acrílico y dientes de resina. Adaptación satisfactoria de la prótesis, proporcionando funcionalidad y mejorando la estética del paciente.</p>
				</div>
			</article>
			<article class=" flex justify-center items-center flex-col relative">
				<img src='/caso-2.webp' alt="Caso de Éxito" class=" object-cover transition-all duration-300" width="478" height="651">
				<button id='caso3' class="-translate-y-20 border-2 italic border-white py-[5px] px-[25px] text-center rounded-full lg:opacity-0" title="Ver más" >Corona</button>
				<div class="absolute top-0 right-0 altura w-full bg-black/70 flex justify-center items-center flex-col modal" id='modal3'>
					<svg id="close3" class="w-6 absolute top-3 right-3 transition-all cursor-pointer hover:transition-all hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" fill="CurrentColor" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/></svg>
					<p class="text-xl font-semibold pb-3">Corona</p>
					<p class="px-4 text-justify">Se le colocó una corona dental de porcelana sobre metal para restaurar la forma y función del diente. La corona se ajustó adecuadamente y se logró una estética natural, proporcionando una solución duradera y estéticamente satisfactoria para el paciente.</p>
				</div>
			</article>
			<article class=" flex justify-center items-center flex-col relative">
				<img src='/caso-3.webp' alt="Caso de Éxito" class=" object-cover transition-all duration-300" width="478" height="651">
				<button id='caso4' class="-translate-y-20 border-2 italic border-white py-[5px] px-[25px] text-center rounded-full lg:opacity-0" title="Ver más" >Blanqueamiento</button>
				<div class="absolute top-0 right-0 altura w-full bg-black/70 flex justify-center items-center flex-col modal" id='modal4'>
					<svg id="close4" class="w-6 absolute top-3 right-3 transition-all cursor-pointer hover:transition-all hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" fill="CurrentColor" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/></svg>
					<p class="text-xl font-semibold pb-3">Blanquemiento</p>
					<p class="px-4 text-justify">Se realizó un procedimiento de blanqueamiento dental con peróxido de carbamida al 20%. Tras varias sesiones, se logró una notable mejora en el color de los dientes, obteniendo un resultado más blanco y brillante.</p>
				</div>
			</article>
		</div>
	</section>
	<Dentist />
	<section class="w-full flex justify-center items-center flex-col mt-12 px-4">
		<h3 class="text-center text-4xl font-semibold md:text-6xl md:mb-5">¿Por qué elegir Clear Dental?</h3>
		<div class="w-full max-w-screen-xl grid grid-cols-1 gap-8 my-6 place-items-center md:grid-cols-3 md:items-start">
			<Feature
				number='1.'
				title='Amplio Horario'
				text='Abrimos de lunes a viernes de 10:00 am hasta las 7:00 pm. Los sábados nuestro horario es de 10:00 hasta las 18:00.'
			/>
			<Feature 
				number='2.'
				title='Excelente calidad'
				text='Contamos con la mejor tecnología y personal altamente capacitado, garantizando a todos nuestros pacientes los máximos estándares de calidad en nuestros servicios.'
			/>
			<Feature 
				number='3.'
				title='Alta tecnología'
				text='Nuestra clínica está equipada con tecnología de vanguardia para garantizar diagnósticos precisos y tratamientos de alta calidad.'
				id='Testimonios'
				/>
		</div>
	</section>
	<Reviews />
	<Direction />
	<Footer />
	<Buttons />
</Layout>
<style>
	.altura {
		height: calc(100% - 37px);
	}
  img {
    transition: all 0.275s ease-in-out;
  }
  button {
    transition: all 0.275s ease-in-out;
    cursor: pointer;
  }
  img:hover ~ button {
    opacity: 1;
    transition: all 0.275s ease-in-out;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
    box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
  }
  button:hover {
    opacity: 1;
    transition: all 0.275s ease-in-out;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
    box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
  }
  .modal {
    transition: all 0.2s ease-out;
    transform: scale(0);
  }
  .show {
    transition: all 0.2s ease-out;
    transform: scale(1);
  }
</style>
<script>
	const modales:any = []
	const show:any = []
	const cerrar:any = []

	for (let i = 1; i <= 4; i++) {
		modales[i] = document.getElementById('modal'+i)
		show[i] = document.getElementById('caso'+i);
		cerrar[i] = document.getElementById('close'+i);
		show[i]?.addEventListener('click', () => {
			modales[i].classList.add('show')
		})
		cerrar[i]?.addEventListener('click', () => {
			modales[i].classList.remove('show')
		})
		modales[i]?.addEventListener('click', () => {
			modales[i].classList.remove('show')
		})
	}
	
</script>