---
import WhatsApp from "./WhatsApp.astro";
---

<a aria-label="Mandar mensaje al WhatsApp de Clear Dental" class=" w-14 h-14 rounded-full bg-green-500 fixed bottom-3 right-3 border-green-500 border-2 flex justify-center items-center transition-all hover:transition-all hover:bg-green-300 md:w-20 md:h-20" href="https://wa.me/525552905635?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer">
  <WhatsApp class="w-7 md:w-10"/>
</a>