---
interface Props {
  tratamiento: string
  img: string
}
const { tratamiento, img } = Astro.props
---
<article class=" flex justify-center items-center flex-col">
  <img src={img} alt="Caso de Éxito" class=" object-cover transition-all duration-300">
  <a class="-translate-y-20 border-2 italic border-white py-[5px] px-[25px] text-center rounded-full lg:opacity-0" href="https://wa.me/525539245789?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer">{tratamiento}</a>
</article>
<style>
  img {
    transition: all 0.275s ease-in-out;
  }
  a {
    transition: all 0.275s ease-in-out;
  }
  img:hover ~ a {
    opacity: 1;
    transition: all 0.275s ease-in-out;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
    box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
  }
  a:hover {
    opacity: 1;
    transition: all 0.275s ease-in-out;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
    box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
  }
</style>