<h3 class="text-start font-semibold pl-6 text-4xl translate-y-3 md:text-6xl" id="Nosotros2">Nuestros Doctores</h3>
<section class="w-full flex justify-center items-center bg-cover bg-fixed bg-center bg-no-repeat">
  <div class="w-full flex justify-center items-center flex-col bg-slate-900/60 py-16">
    <div class="w-full max-w-screen-xl flex justify-center items-start flex-col">
      <p class="pb-5 hidden max-w-[700px] md:block">Nuestros doctores cuentan con una amplia experiencia y enfoque centrado en el paciente. Cada uno aporta un nivel de maestría en su área respectiva, unidos por nuestra misión de reinventar la atención dental como autocuidado.</p>
      <div class="grid grid-cols-1 gap-7 md:grid-cols-3">
        <img src="/perfil.jpg" alt="Foto Perfil Dentista">
        <img src="/mujer.webp" alt="Foto Perfil Dentista">
        <img src="/hombre.webp" alt="Foto Perfil Dentista">
      </div>
      <p class="pl-4 mt-4 md:hidden">Nuestros doctores cuentan con una amplia experiencia y enfoque centrado en el paciente. Cada uno aporta un nivel de maestría en su área respectiva, unidos por nuestra misión de reinventar la atención dental como autocuidado.</p>
    </div>
  </div>
</section>
<style>
  section {
    background-image: url(/bg-menu.jpg);
  }
</style>