<section class="w-full flex justify-center items-center bg-cover bg-fixed bg-center bg-no-repeat" id="Nosotros2">
  <div class="w-full flex justify-center items-center flex-col bg-slate-900/60 py-12 px-4">
    <div class="w-full max-w-screen-xl flex justify-center items-start flex-col">
      <h3 class="text-start font-semibold text-4xl pl-6 pb-4 md:text-6xl md:pl-0">Nuestras Promociones</h3>
      <p class="pb-5 hidden max-w-[700px] md:block">Aprovecha nuestras promociones exclusivas para cuidar de ti.</p>
      <div class="grid grid-cols-1 gap-7 md:grid-cols-3">
        <a href="https://wa.me/525552905635?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer"><img class="transition-all w-full h-auto aspect-square hover:transition-all hover:-rotate-3" src="/promo-1.webp" alt="promoción" width="1080" height="1080"></a>
        <a href="https://wa.me/525552905635?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer"><img class="transition-all w-full h-auto aspect-square hover:transition-all hover:-rotate-3" src="/promo-2.webp" alt="promoción" width="1080" height="1080"></a>
        <a href="https://wa.me/525552905635?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer"><img class="transition-all w-full h-auto aspect-square hover:transition-all hover:-rotate-3" src="/promo-3.webp" alt="promoción" width="1080" height="1080"></a>
      </div>
      <p class="pl-4 mt-4 md:hidden">Aprovecha nuestras promociones exclusivas para cuidar de ti.</p>
    </div>
  </div>
</section>
<style>
  section {
    background-image: url(/fondo.webp);
  }
</style>