---
import Right from "./Right.astro";
---


<section class="w-full flex justify-center items-center flex-col lg:flex-row">
  <div class="background w-full flex justify-center items-center flex-col text-center min-h-96 px-4 lg:min-h-[500px]">
    <h3 class="text px-4 text-center font-semibold text-4xl mb-5 md:text-6xl">Sonríe con nosotros</h3>
    <p class="text text-xl font-base md:text-xl">Antiguo Camino a Tecamachalco Manzana 3 Lote 2, El Olivo, 52789 Naucalpan de Juárez</p>
    <p class="text text-xl font-base my-4 md:text-xl">Lunes a Viernes: 10am - 7pm</p>
    <a class="text text-2xl font-base flex justify-center items-center transition-all duration-200 hover:transition-all hover:duration-200 hover:text-black md:text-3xl" href="https://wa.me/525539245789?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer">Agenda tu cita <Right class="right transition-all duration-200 w-6 h-6 ml-2 hover:transition-all hover:duration-200"/></a>
  </div>
  <div class="w-full">
    <iframe  class="w-full min-h-96 lg:min-h-[500px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10645.179068695803!2d-99.28088643939496!3d19.384771192032872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d201703ebffa35%3A0x8c29f26c533b2bcf!2sClear!5e0!3m2!1ses-419!2smx!4v1706916234252!5m2!1ses-419!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<style>
  .text {
    color: black !important;
  }
  .background {
    background-color: white;
  }
  a:hover > .right {
    fill:  ;
  }
</style>