---
import Right from "./Right.astro";
---

<h3 class="px-4 text-left font-semibold text-4xl md:text-6xl">Sonríe con nosotros</h3>
<section class="w-full flex justify-center items-center flex-col lg:flex-row">
  <div class="background w-full flex justify-center items-center flex-col text-center min-h-96 px-4 lg:min-h-[500px]">
    <p class=" text-xl font-base md:text-2xl">Av. de las Granjas 192, Azcapotzalco, 02050 Ciudad de México</p>
    <p class=" text-xl font-base my-4 md:text-2xl">Lunes a Viernes: 10am - 7pm</p>
    <a class=" text-2xl font-base flex justify-center items-center transition-all duration-200 hover:transition-all hover:duration-200 hover:text-black md:text-3xl" href="https://wa.me/525539245789?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer">Agenda tu cita <Right class="right transition-all duration-200 w-6 h-6 ml-2 hover:transition-all hover:duration-200"/></a>
  </div>
  <div class="w-full">
    <iframe class="w-full min-h-96 lg:min-h-[500px]" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28075.41382706136!2d-106.850149!3d28.406378!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ea43c28cc8e075%3A0xa187081de0c666ac!2sM%C3%B6r%20Centro%20Dental!5e0!3m2!1ses!2smx!4v1706742979430!5m2!1ses!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<style>
  .background {
    background: rgb(236,222,83);
    background: radial-gradient(circle, rgba(236,222,83,1) 0%, rgba(201,151,46,1) 100%);
  }
  a:hover > .right {
    fill: #000;
  }
</style>