---
import Right from "./Right.astro";
---


<section class="w-full flex justify-center items-center flex-col lg:flex-row">
  <div class="background w-full flex justify-center items-center flex-col text-center min-h-96 px-4 lg:min-h-[500px]">
    <h3 class="text px-4 text-center font-semibold text-4xl mb-5 md:text-6xl">Sonríe con nosotros</h3>
    <p class="text text-xl font-base md:text-xl">Centro Comercial Interlomas, Blvrd. Interlomas 5-Local 5, Centro Urbano, San Fernando, 52786 Naucalpan de Juárez</p>
    <p class="text text-xl font-base my-4 md:text-xl">Lunes a Domingo: 9am - 7pm</p>
    <a class="text text-2xl font-base flex justify-center items-center transition-all duration-200 hover:transition-all hover:duration-200 hover:text-black md:text-3xl hover:underline" href="https://wa.me/525552905635?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" target="_blank" rel="noopener noreferrer">Agenda tu cita <Right class="right transition-all duration-200 w-6 h-6 ml-2 hover:transition-all hover:duration-200"/></a>
  </div>
  <div class="w-full">
    <iframe title="Mapa de Clear Dental" class="w-full min-h-96 lg:min-h-[500px]" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15052.957496058692!2d-99.2707543!3d19.4020607!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d201703ebffa35%3A0x8c29f26c533b2bcf!2sClear!5e0!3m2!1ses!2smx!4v1712944367707!5m2!1ses!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<style>
  .text {
    color: black !important;
  }
  .background {
    background-color: white;
  }
</style>