---
interface Props {
  number: string
  title: string
  text: string
  id?: string
}
const { number, title, text, id } = Astro.props
---

<article class="flex justify-center items-center flex-col w-64 text-center" id={id}>
  <h6 class="text-6xl font-semibold">{number}</h6>
  <h4 class=" my-4 font-medium text-2xl text-yellow-600">{title}</h4>
  <p>{text}</p>
</article>