<footer class="w-full flex justify-center items-center px-4">
  <div class="w-full flex justify-center items-center flex-col">
    <img src="/logo.jpeg" alt="Logo">
    <span>Copyright © 2024 · Harmony Dental</span>
    <a href="https://dentarios.com.mx" target="_blank" rel="noopener noreferrer">Diseño web y posicionamiento: Dentarios</a>
  </div>
</footer>