---
import Facebook from "./Facebook.astro";
import Instagram from "./Instagram.astro";
---

<footer class="w-full flex justify-center items-center px-4 flex-col">
  <div class="w-full flex justify-center items-center flex-col py-6 max-w-screen-xl text-center md:flex-row md:justify-evenly">
    <div class="flex justify-center items-center flex-col md:w-[50%]">
      <h3 class="font-semibold text-xl mb-3">Contacto</h3>
      <p class="text-xl">Clear Dental</p>
      <a href="https://maps.app.goo.gl/UTFGwFocRcQbQXEF7" target="_blank" rel="noopener noreferrer">Centro Comercial Interlomas, Blvrd. Interlomas 5-Local 5, Centro Urbano, San Fernando, 52786 Naucalpan de Juárez</a>
      <a href="tel:5552905635" target="_blank" rel="noopener noreferrer"><strong>Telefóno: </strong>5552905635</a>
    </div>
    <hr class=" w-[200px] bg-white my-8 md:rotate-90 md:w-[100px]">
    <div class="flex justify-center items-center flex-col md:w-[50%]">
      <h3 class="font-semibold text-xl mb-3">Síguenos</h3>
      <div class="flex justify-center items-center">
        <a title="Ir a la página de Facebook de Clear Dental" href="https://maps.app.goo.gl/UTFGwFocRcQbQXEF7" target="_blank" rel="noopener noreferrer"><Facebook class="w-5 text-white mr-3 rs md:w-10"/></a>
        <a title="Ir a la página de Instagram de Clear Dental" href="https://maps.app.goo.gl/UTFGwFocRcQbQXEF7" target="_blank" rel="noopener noreferrer"><Instagram class="w-5 text-white rs md:w-10"/></a>
      </div>
    </div>
  </div>
  <hr class="w-full bg-white">
  <span>Copyright © 2024 · Clear Dental</span>
  <a href="https://dentarios.com.mx" target="_blank" rel="noopener noreferrer" class="text-center">Diseño web y posicionamiento: Dentarios</a>
</footer>

<style>
  a{
    transition: all 0.275s ease-in;
  }
  a:hover {
    transition: all 0.275s ease-in;
  }
  a:hover .rs {
    fill: goldenrod;
    transition: all 0.2s ease-in;
  }
  .rs {
    transition: all 0.2s ease-in;
  }
</style>