---
import Facebook from "./Facebook.astro"
import Phone from "./Phone.astro"
import Instagram from "./Instagram.astro"
---
<header class="w-full flex justify-center items-center px-4 fixed top-0 right-0 z-[11] bg-[#13151a] transition-all duration-300" id="header">
  <nav class="w-full flex justify-between items-center max-w-screen-xl h-14 lg:hidden">
    <div class="flex justify-around items-center flex-col h-7" id="open">
      <span class=" w-8 h-[1px] bg-white rounded-3xl"></span>
      <span class=" w-8 h-[1px] bg-white rounded-3xl"></span>
      <span class=" w-8 h-[1px] bg-white rounded-3xl"></span>
    </div>
    <img class="h-full" src="/logo.png" alt="Logo Clear Dental">
    <a href="tel:5539245789" target="_blank" rel="noopener noreferrer"><Phone class=" w-7 text-white cursor-pointer"/></a>
  </nav>
  <nav class="hidden lg:w-full lg:flex lg:justify-around lg:items-center lg:max-w-[1400px] lg:h-20">
    <div class="flex justify-center items-center">
      <a href="/" class="text-lg py-[10px] px-[15px] transition-all rounded-md hover:transition-all hover:text-yellow-500 hover:duration-200">Inicio</a>
      <a href="#Servicios" class="text-lg py-[10px] px-[15px] transition-all rounded-md hover:transition-all hover:text-yellow-500 hover:duration-200">Servicios</a>
      <a href="#Nosotros" class="text-lg py-[10px] px-[15px] transition-all rounded-md hover:transition-all hover:text-yellow-500 hover:duration-200">Nosotros</a>
    </div>
    <img src="/logo.png" alt="Logo Clear Dental" class="h-full cursor-pointer" id="logo">
    <div class="flex justify-center items-center">
      <a href="#Testimonios" class="text-lg py-[10px] px-[15px] transition-all rounded-md hover:transition-all hover:text-yellow-500 hover:duration-200">Testimonios</a>
      <a href="#Casos" class="text-lg py-[10px] px-[15px] transition-all rounded-md hover:transition-all hover:text-yellow-500 hover:duration-200">Casos</a>
      <a href="https://wa.me/525539245789?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" class="text-lg py-[10px] px-[15px] transition-all rounded-md hover:transition-all hover:text-yellow-500 hover:duration-200" target="_blank">Contacto</a>
    </div>
  </nav>
</header>
<section class=" w-screen h-svh flex justify-center items-center flex-col bg-[url('/fondo.webp')] bg-center bg-cover fixed top-[-100svh] right-0 px-4 z-[1]" aria-expanded="false" id="menu">
  <div class="w-screen h-svh bg-gray-800/60 flex justify-center items-center flex-col">
    <nav class="flex justify-around items-center flex-col h-96 font-semibold text-xl">
      <a href="/">Inicio</a>
      <a href="#Nosotros">Nosotros</a>
      <a href="#Servicios">Servicios</a>
      <a href="#Testimonios">Testimonios</a>
      <a href="#Casos">Casos</a>
      <a href="https://wa.me/525539245789?text=Buenas%20tardes,%20solicito%20informaci%C3%B3n%20sobre" class="px-[30px] py-[10px] background rounded-full" target="_blank">Contacto</a>
      <div class="flex justify-center items-center">
        <a href="http://" target="_blank" rel="noopener noreferrer"><Facebook class="w-5 text-white mr-3"/></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><Instagram class="w-5 text-white"/></a>
      </div>
    </nav>
  </div>
</section>
<style>
  .closemenu {
    animation: closeMenu 0.4s linear forwards;
  }
  .menu {
    animation: openMenu 0.4s linear forwards;
  }
  .header {
    background-color: transparent;
    transition: all 0.3s linear;
  }
  #open span {
    transition: all 0.4s linear;
  }
  .closeIcon span {
    transition: all 0.4s linear;
  }
  .closeIcon span:nth-child(1) {
    opacity: 0;
  }
  .closeIcon span:nth-child(2) {
    transform: rotate(45deg);
  }
  .closeIcon span:nth-child(3) {
    transform: rotate(135deg) translate(-7px, 6px);
  }
  .background {
    background: rgb(236,222,83);
    background: radial-gradient(circle, rgba(236,222,83,1) 0%, rgba(201,151,46,1) 100%);
    transition: all 0.275s ease-in-out;
  }
  .background:hover {
    transition: all 0.275s ease-in-out;
    transform: scale(1.1);
  }
  @keyframes openMenu {
    100% {
      top: 0;
    }
  }
  @keyframes closeMenu {
    0% {
      top: 0;
    }
    100% {
      top: -100svh;
    }
  }
</style>
<script>
  const logo = document.getElementById('logo')
  logo?.addEventListener('click', () => {
    location.assign('/')
  })
  
  const header = document.getElementById('header')
  const open = document.getElementById('open')
  const menu = document.getElementById('menu')
  let x = menu?.getAttribute('aria-expanded')
  menu?.addEventListener('click', () => {
    x = menu?.getAttribute('aria-expanded')
    open?.classList.toggle('closeIcon')
    header?.classList.toggle('header')
    if (x == 'false') {
      menu?.setAttribute('aria-expanded', 'true')
      menu?.classList.remove('closemenu')
      menu?.classList.add('menu')
    } else {
      menu?.setAttribute('aria-expanded', 'false')
      menu?.classList.add('closemenu')
      menu?.classList.remove('menu')
    }
  })
  open?.addEventListener('click', () => {
    x = menu?.getAttribute('aria-expanded')
    open.classList.toggle('closeIcon')
    header?.classList.toggle('header')
    if (x == 'false') {
      menu?.setAttribute('aria-expanded', 'true')
      menu?.classList.remove('closemenu')
      menu?.classList.add('menu')
    } else {
      menu?.setAttribute('aria-expanded', 'false')
      menu?.classList.add('closemenu')
      menu?.classList.remove('menu')
    }
  })
</script>