<section class="w-full flex justify-center items-center flex-col px-4 py-10">
  <h1 class="text-center text-3xl font-semibold">Dentista Julian Lorem Ipsum Dolor Epton</h1>
  <p class="my-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
  <a href="http://" target="_blank" rel="noopener noreferrer" class="px-[30px] py-[10px] bg-yellow-300 rounded-full">Conoce más</a>
</section>