<section class="w-full flex justify-center items-center flex-col px-4 py-10 md:py-16" id="Nosotros">
  <div class="w-full flex justify-center items-center max-w-3xl flex-col">
    <h1 class="text-center text-3xl font-semibold md:text-6xl">Bienvenido</h1>
    <p class="my-6 text-center md:text-lg">Tu hogar para una sonrisa brillante y saludable. Nuestro equipo de dentistas altamente capacitados y amables está comprometido a brindarte la mejor atención odontológica en un ambiente cómodo y acogedor. Desde limpiezas regulares hasta tratamientos de ortodoncia avanzados, estamos aquí para cuidar de todas tus necesidades dentales. Con tecnología de vanguardia y un enfoque personalizado, te ayudaremos a mantener una excelente salud bucal y a recuperar tu confianza en tu sonrisa. Descubre cómo podemos transformar tu salud oral y tu bienestar general hoy mismo en Clear Dental</p>
    <a href="#Nosotros" rel="noopener noreferrer" class="px-[30px] py-[10px] rounded-full bg-white text-black transition hover:transition hover:scale-110 md:text-lg" id="Servicios">Conoce más</a>
  </div>
</section>