---
import Service from "./Service.astro";
---

<section class="w-full justify-center items-center px-4">
  <div class="flex justify-center items-center flex-col">
    <Service 
      img="/cepillo.jpg"
      title="Blanqueamiento"
      text="lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor"
    />    
    <Service 
      img="/cepillo.jpg"
      title="Blanqueamiento"
      text="lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor"
    /> 
    <Service 
      img="/cepillo.jpg"
      title="Blanqueamiento"
      text="lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor"
    /> 
  </div>
</section>